repos:
  # 1. Standard Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  # 2. Ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

  # 3. Poetry
  - repo: https://github.com/python-poetry/poetry
    rev: '2.3.1'
    hooks:
      - id: poetry-check
      - id: poetry-lock
